Bottom Up

In [ ]:
def unbounded_knapsack_bottom_up(w: list[int], p: list[int], cap: int) -> int:
    n = len(w)
    dp = [[0] * (cap + 1) for _ in range(n + 1)]

    for i in range(1, n + 1):
        for c in range(1, cap + 1):
            if w[i - 1] > c:
                dp[i][c] = dp[i - 1][c] # must be within capacity
            else:
                # Maximize profit
                dp[i][c] = max(dp[i - 1][c], dp[i][c - w[i - 1]] + p[i - 1])
    return dp[n][cap]

In [ ]:
from IPython.display import display, update_display
import pandas as pd
import time

def display_table(df, i, c, display_id="dp_table"):
    # Create a DataFrame of styles with the same shape as df
    style_df = pd.DataFrame('', index=df.index, columns=df.columns)
    style_df.iloc[i, c] = 'background-color: lightgreen'  # Highlight updated cell

    # Apply the styles using the Styler
    styled = df.style.apply(lambda x: style_df, axis=None)

    # Update the displayed table
    update_display(styled, display_id=display_id)

def unbounded_knapsack_bottom_up(w, p, cap):
    n = len(w)
    dp = [[0] * (cap + 1) for _ in range(n + 1)]

    # Initialize the DataFrame
    df = pd.DataFrame(dp,
                      index=[f"Item {j}" for j in range(n + 1)],
                      columns=[f"C={j}" for j in range(cap + 1)])
    display(df.style, display_id="dp_table")

    for i in range(1, n + 1):
        for c in range(1, cap + 1):
            if w[i - 1] <= c:
                dp[i][c] = max(dp[i - 1][c], dp[i][c - w[i - 1]] + p[i - 1])
            else:
                dp[i][c] = dp[i - 1][c]

            # update df values
            df.iloc[i, c] = dp[i][c]
            display_table(df, i, c)  # smooth update
            time.sleep(0.3)

    print(f"\nâœ… Maximum profit for capacity {cap}: {dp[n][cap]}")
    return dp[n][cap]

4a. Show the running result of P(14) with weights and profits given in (2)

| i   | 0 | 1 | 2 |
|-----|---|---|---|
| wi  | 4 | 6 | 8 |
| pi  | 7 | 6 | 9 |

In [ ]:
w = [4, 6, 8]
p = [7, 6, 9]
cap = 14

max_profit = unbounded_knapsack_bottom_up(w, p, cap)

âœ… Maximum profit for capacity 14: 21

4b. Show the running result of P(14) with weights and profits given below.


| i   | 0 | 1 | 2 |
|-----|---|---|---|
| wi  | 5 | 6 | 8 |
| pi  | 7 | 6 | 9 |

In [ ]:
w = [5, 6, 8]
p = [7, 6, 9]
cap = 14

max_profit = unbounded_knapsack_bottom_up(w, p, cap)

âœ… Maximum profit for capacity 14: 16

Top Down

In [ ]:
values = [7, 6, 9]
weights = [5, 6, 8]
capacity = 14
n = len(values)

memo = [[None]*(capacity + 1) for _ in range(n + 1)]

def unbounded_knapsack_top_down(n, capacity):
    if memo[n][capacity] is not None:
        return memo[n][capacity]

    if n == 0 or capacity == 0:
        return 0

    if weights[n-1] > capacity:
        result = unbounded_knapsack_top_down(n-1, capacity)
    else:
        include = values[n-1] + unbounded_knapsack_top_down(n, capacity - weights[n-1])
        exclude = unbounded_knapsack_top_down(n-1, capacity)
        result = max(include, exclude)

    memo[n][capacity] = result
    return result

unbounded_knapsack_top_down(n, capacity)

16

4a

In [ ]:
# Problem setup
values = [7, 6, 9]
weights = [4, 6, 8]
capacity = 14
n = len(values)

# Memoization table
memo = [[None] * (capacity + 1) for _ in range(n + 1)]

# Visualization table
memo_df = pd.DataFrame(
    [["" for _ in range(capacity + 1)] for _ in range(n + 1)],
    index=[f"Item {i}" for i in range(n + 1)],
    columns=[f"C={j}" for j in range(capacity + 1)]
)

# Initial display
display(memo_df.style, display_id="dp_table")

# Display function
def display_table(df, i, c, display_id="dp_table"):
    style_df = pd.DataFrame('', index=df.index, columns=df.columns)
    style_df.iloc[i, c] = 'background-color: lightgreen'
    styled = df.style.apply(lambda x: style_df, axis=None)
    update_display(styled, display_id=display_id)

# Top-down unbounded knapsack with visualization
def unbounded_knapsack_top_down(i, c):
    if memo[i][c] is not None:
        return memo[i][c]

    if i == 0 or c == 0:
        result = 0
    elif weights[i-1] > c:
        result = unbounded_knapsack_top_down(i-1, c)
    else:
        include = values[i-1] + unbounded_knapsack_top_down(i, c - weights[i-1])
        exclude = unbounded_knapsack_top_down(i-1, c)
        result = max(include, exclude)

    # Save result
    memo[i][c] = result

    # Update visual table
    memo_df.iloc[i, c] = result
    display_table(memo_df, i, c)
    time.sleep(0.3)

    return result

# Run
max_profit = unbounded_knapsack_top_down(n, capacity)
print(f"\nâœ… Maximum profit for capacity {capacity}: {max_profit}")

âœ… Maximum profit for capacity 14: 21

4b

In [ ]:
# Problem setup
values = [7, 6, 9]
weights = [5, 6, 8]
capacity = 14
n = len(values)

# Memoization table
memo = [[None] * (capacity + 1) for _ in range(n + 1)]

# Visualization table
memo_df = pd.DataFrame(
    [["" for _ in range(capacity + 1)] for _ in range(n + 1)],
    index=[f"Item {i}" for i in range(n + 1)],
    columns=[f"C={j}" for j in range(capacity + 1)]
)

# Initial display
display(memo_df.style, display_id="dp_table")

# Display function
def display_table(df, i, c, display_id="dp_table"):
    style_df = pd.DataFrame('', index=df.index, columns=df.columns)
    style_df.iloc[i, c] = 'background-color: lightgreen'
    styled = df.style.apply(lambda x: style_df, axis=None)
    update_display(styled, display_id=display_id)

# Top-down unbounded knapsack with visualization
def unbounded_knapsack_top_down(i, c):
    if memo[i][c] is not None:
        return memo[i][c]

    if i == 0 or c == 0:
        result = 0
    elif weights[i-1] > c:
        result = unbounded_knapsack_top_down(i-1, c)
    else:
        include = values[i-1] + unbounded_knapsack_top_down(i, c - weights[i-1])
        exclude = unbounded_knapsack_top_down(i-1, c)
        result = max(include, exclude)

    # Save result
    memo[i][c] = result

    # Update visual table
    memo_df.iloc[i, c] = result
    display_table(memo_df, i, c)
    time.sleep(0.3)

    return result

# Run
max_profit = unbounded_knapsack_top_down(n, capacity)
print(f"\nâœ… Maximum profit for capacity {capacity}: {max_profit}")

âœ… Maximum profit for capacity 14: 16